<div class="d-flex justify-content-center align-items-center">
  <mat-card class="d-flex justify-content-center align-items-center text-center">
    <mat-card-title class="text-error">{{ strings.pageNotFound.title }}</mat-card-title>
    <mat-card-content class="mt-3">
      <p>{{ strings.pageNotFound.text }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="mt-3" color="accent" mat-flat-button role="link" [routerLink]="['/']">{{ strings.pageNotFound.button }}</button>
    </mat-card-actions>
  </mat-card>
</div>
